
@media (max-width: 575.98px) { 
    .carousel-caption {
     
        bottom: 0px !important;
        left: 3%; 
    }
    .our h1{
        font-size: 1.5rem;
    }
    .member h3{
        font-size: 17px !important;
    }
    .slide p{
        font-size: 10px !important;
    }
    .address1{
        margin: 10px;
    }
    .pho1 h4{
        font-size: 14px;
    }
    .word h1{
        font-size: 24px;
    }
    .count{
       
        background-size: cover;
      
      }
      .right-txt {
        float: left;
        font-size: 13px;
        width: 90%;
        padding: 10px 0 0 28px;
    }
    .left-icon {
       
        font-size: 40px;
    }
    .container h2{
        font-size: 1rem;
    }
    .boxes i{
        font-size: 60px;
    }
    .boxes h3{
        font-size: 24px;
    }
    .boxes p{
        font-size: 14px;
    }
    .boxes button{
        font-size: 16px;
    }
    .our p{
        font-size: 12px;
    }
    .member h3{
        font-size: 19px;
    }
    .member p{
        text-align: center;
    }
    .counter{
        margin-bottom: 15px;
    }
    .toparea{
        display: none !important;
    }
    .portfoliobtn button{
        font-size: 14px !important;
        padding: 0px 5px;
    }


    .carousel-item button {
        padding: 4px 9px;
        border-radius: 9px;
        margin-right: 15px;
        font-size: 10px;
    }
    .carousel-item i {
        width: 30px;
        height: 30px;
        padding: 7px 3px;
        font-size: 16px;
    }
    .carousel-caption {
        padding-right: 23% !important;
    }
    .slide p {
        font-size: 8px;
    }
    .carousel-caption h2{
        font-size: 10px ;
margin-bottom: 5px;

    }
    .carousel-indicators{
        display: none !important;
    }
    .cardtxt1 {
        height: 112px !important;

    }
    .cardtxt1 i{
        top: 83px !important;
        right: 60px !important;
        font-size: 18px !important;
    }
    .pho1 h4{
        font-size: 12px !important;
    }
    
    .pho1 button{
        padding: 4px 6px;
        font-size: 11px !important;
    }
    .sendbtn{
        padding: 3px 10px !important;
        margin: 3px 0 0 0 ;
    }
    .left p {
   
        font-size: 17px;
    
    }
    .right li {
  
        float: left !important;
      
    }
    .star p {
        font-size: 18px;
        color: #555555d2;
    }
    .blur {
        /* margin-top: -6px; */
        padding: 78px 0px;
    }
     .video i {
            font-size: 32px;
        }   
        .video h1{
            font-size: 2.0rem;
        } 
     .text-center button{
        padding: 9px 30px;
     }
     .text-center h1 {
        font-size: 26px;
     }  
     .text-center h6 {
        font-size: 28px;
     }  
     .text-center p {
        font-size: 18px;
     }  
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .carousel-caption{
        right: 15%;
        padding-top: 20px;
        padding-bottom: 20px;
        left: 6%;
        padding-right: 29%;
        bottom: 26px;
    }
    
 
  
   
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
   
    .member p{
        text-align: center;
        font-size: 14px;
    }
    .address1{
        margin: 10px;
    }
    .pho1 h4{
        font-size: 18px;
    }
    .pho1 p{
        font-size: 13px;
    }
    .member h3{
        font-size: 17px;
    }
 
    .carousel-caption{
        right: 15%;
        padding-top: 20px;
        padding-bottom: 20px;
        left: 6% !important;
        padding-right: 29%;
        bottom: 40px !important;
    }
    .flip-card-front p{
        text-align: center;
        
    }
    .counter{
        margin-bottom: 10px;
    }
    .adresses p{
        font-size: 16px !important;
      }
      .adresses i {
       
        font-size: 14px;
        padding: 3px 0 0 7px;
   
}
.cardtxt1 i {

    font-size: 19px !important;

    top: 100px !important;
    right: 60px;
}
.pho1 h4{
    font-size: 12px !important;
}
.cardtxt1{
    height: 125px !important;
}
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-caption{
        bottom: 105px !important;
    }
    .flip-card-front h3{
        font-size: 26px;
    }
    .flip-card-front p{
        text-align: center;
        font-size: 14px;
    }
    .boxes3 h3{
        font-size: 1.68rem;
    }
    .member h3{
        font-size: 18px;
        padding: 10px 0 0 0;

    }
    .member p{
        text-align: center;

    }
    .nav-link {
        color: #000 !important;
        margin: 0px 5px 0 5px;
        font-size: 15px;
    }

    .free-estimate{
        background-color: #29c5c5be;
        margin: 0px 0px 0px 0px;
        font-size: 12px !important;
        border: none;
        color: #fff;
        border-radius: 50px;
        
    }

    .navbar-nav {
        font-size: 13px;
    }
    .adresses p{
        font-size: 16px !important;
      }
      .adresses i {
       
        font-size: 14px;
        padding: 3px 0 0 7px;
   
}
.cardtxt1 i {

    font-size: 24px !important;

    top: 149px;
    right: 93px;
}
.navbar
{
padding: 0px !important;
}
.navbar-brand {
    margin-right: 0px !important;
}
}


@media (min-width: 1200px) {
    .carousel-caption{
        right: 22%;
    }
    .member p{
        text-align: center;
    }
 }