
body
{
	overflow-x:hidden;
	font-family: 'Calibri' !important;
}

p, a, li, span 
{
font-size:16px;
font-family: 'Calibri' !important;
}

header li a {
    font-size: 15px;
    color: #555 !important;
    font-weight: 500;
}

header li a.nav-link.active {
    background: #f00;
    color: #fff !important;
    padding-top: 8px;
    padding-bottom: 24px;
    position: relative;
    border-radius: 17px;
    border: 7px solid #fff;
}

.position_tops {
    position: relative;
    top: 22px;
    z-index: 9;
}
.banner_slider .carousel-caption {
   background: #c0a129c2;
    width: 253px;
    text-align: center;
    padding: 13px;
    left: 10%;
    bottom: 32%;
}

.banner_slider .carousel-caption p {
    border: 1px solid #fff;
    margin-bottom: 0;
    padding: 21px;
    font-size: 16px;
    font-weight: 700;
}
.banner_slider img {
    height: 550px;
    object-fit: cover;
}
.we-d-content p {
  position: absolute;
  text-align: center;
  width: 100%;
  background: #0000008f;
  bottom: -15px;
  padding: 7px;
  color: #fff;
  font-weight: 700;
}

footer.footer {
    background: #e3e4e4;
}


.bg-gray
{
	background: #e3e4e4;
}

.manufacture_box img {
    background: #fff;
    padding: 10px;
    border: 1px solid #ccccccbf;
}

.manufacture_box p {
    text-align: center;
    font-weight: 600;
}
.slide-content {
    POSITION: absolute;
    left: 10%;
    top: 35%;
    background: #eacb5091;
    padding: 26px 26px;
    width: 325px;
    font-weight: 600;
    margin-bottom: 0;
}
.manufacture {
    border-top: 0px solid transparent;
    background: linear-gradient(to right, #dd2b1c 40%, #fdc900 40%);
    background-size: 100% 4px;
    background-repeat: no-repeat;
	padding-top:4px;
}

.bg-gray
{
	background:#e3e4e4;
}

 .manufacture-btn {
            background-color: #FFC107; 
            color: white; 
            padding: 10px 20px; 
            font-weight: bold; 
			font-size:20px;
            display: inline-block;
            transform: skewX(-15deg);
            text-transform: uppercase;
        }
		
.read_more a {
    background: #e3e4e4;
    color: #333 !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
}
.mb-23
{
	    margin-bottom: 23px;
}

.footer__title {
    font-size: 18px;
    font-weight: 700;
	font-style:italic;
}

.footer_link1 {
    width: 33.33%;
    float: left;
}

.footer_link1 ul {
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.footer_link1 ul a {
    color: #333;
    text-decoration: none;
}

.contact-hed
{
	position: absolute;
    margin-top: -70px !important;
}

.copyrghts {
    position: relative;
    background: linear-gradient(to right, #818281 33%, #fdc900 30%);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: inherit;
    font-size: 12px;
    padding-top: 9px;
    padding-bottom: 7px;
}

.copyrghts::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #818281;
    transform: skewX(-30deg);
    z-index: -1;
    width: 34%;
    z-index: 9;
}
p.footer-copyright.mb-0 {
    position: relative;
    z-index: 9;
    color: #fff;
    font-size: 12px;
}


.copyrghts a {
    color: #333 !important;
    text-decoration: none;
    font-size: 12px;
    font-style: italic;
}
.w-150
{
	width:180px;
}
footer.footer a, footer.footer p {
    font-size: 14px;
}
.logo_width {
    position: relative;
    top: 25px;
    background: #fff;
    z-index: 9;
    padding: 5px 10px;
    border-radius: 7px;
    display: flex;
    gap: 19px;
}
.fs-18
{
    font-size: 20px;
}

.zoom-hover img:hover {
    transform: scale(1.1);
    transition: 0.5s all;
}

.zoom-hover {
    overflow: hidden;
    transition: 0.5s all;
}

.zoom-hover img {
    transition: 0.5s all;
}


.swiper-container {
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  .swiper-slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: all 0.3s ease;
    background-position: fixed;
  }
  
  .swiper-item {
    width: 80%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    position: absolute;
  }
  
  .swiper-slide .number {
    width: auto;
    height: auto;
    position: absolute;
    right: 10px;
    bottom: -40px;
    font-size: 120px;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 600;
    font-family: "IBM Plex Sans", sans-serif;
    opacity: 0.3;
  }
  
  @media screen and (max-width: 512px) {
    .swiper-slide .number {
      display: none;
    }
  
    .swiper-item {
      width: 90%;
    }
  }
  .swiper-item:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: inherit;
    bottom: 0;
    z-index: 1;
    opacity: 0.1;
  }
  
  .swiper-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    z-index: 1;
    opacity: 0.2;
  }
  
  /* swiper arrows */
  .swiper-arrows {
    width: 400px;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    right: 20%;
  }
  
  @media screen and (max-width: 512px) {
    .swiper-arrows {
      right: 10%;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 80px !important;
    height: 80px !important;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin: 0;
    transition: all 0.3s ease;
  }
  
  .swiper-button-prev {
    right: 90px !important;
    left: auto !important;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .swiper-button-next {
    right: 0px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .swiper-button-prev span,
  .swiper-button-next span {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    border: solid 2px #666666;
    border-left: 0;
    border-bottom: 0;
    transition: all 0.1s ease;
  }
  
  .swiper-button-prev span {
    transform: rotate(-135deg);
    left: 49%;
  }
  
  .swiper-button-next span {
    transform: rotate(45deg);
    right: 49%;
  }
  
  .swiper-button-prev:hover span,
  .swiper-button-next:hover span {
    width: 5px;
    height: 5px;
  }
  
  .swiper-button-prev:after,
  .swiper-button-next:after {
    width: 0px;
    height: inherit;
    content: "";
    position: absolute;
    background-color: white;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    opacity: 0.8;
  }
  
  .swiper-button-prev:after {
    right: 0;
  }
  
  .swiper-button-next:after {
    left: 0;
  }
  
  .swiper-button-prev:hover:after,
  .swiper-button-next:hover:after {
    width: inherit;
  }
  
  .swiper-button-disabled {
    opacity: 1 !important;
  }
  
  .swiper-button-disabled.swiper-button-prev span,
  .swiper-button-disabled.swiper-button-next span {
    opacity: 0.2;
  }
  
  /* swiper arrows mobile */
  @media screen and (max-width: 512px) {
    .swiper-button-prev,
  .swiper-button-next {
      width: 60px;
      height: 60px;
      bottom: 0;
    }
  
    .swiper-arrows {
      height: 60px;
    }
  
    .swiper-button-prev {
      right: 60px;
    }
  
    .swiper-button-prev span {
      left: 45%;
    }
  
    .swiper-button-next span {
      right: 45%;
    }
  }
  /* swiper pagination */
  

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: none !important;
    left: 10px;
    right: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: none !important;
    right: 10px;
    left: auto;
}
.swiper-button-prev:hover span, .swiper-button-next:hover span {
    width: 10px !important;
    height: 10px !important;
}

.swiper-button-next, .swiper-button-prev {
    margin-top: -39px !important;
}


.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db; 
    border-radius: 50%;
    width: 60px;
    margin: 0 auto;
    height: 60px;
    margin-top: 20%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.swiper-pagination {
    height: 3px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60px !important;
    right: calc(20% - 60px);
    top: 20px;
    float: right;
    position: absolute;
    left: auto !important;
  }
  
  .banner_mainslider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px 0px;
  }
  
  .banner_mainslider .swiper-pagination-bullet {
    background-color: white;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    width: 30px;
    height: 3px;
    border-radius: 0px;
    opacity: 0.5;
  }
  
  .banner_mainslider .swiper-pagination-bullet:hover {
    width: 50px;
  }
  
  .banner_mainslider .swiper-pagination-bullet-active,
  .banner_mainslider .swiper-pagination-bullet-active:hover {
    width: 60px;
    transition: all 0.3s ease-in-out;
    left: 0;
    background-color: white;
    opacity: 1;
  }
  
  /* text content */
  .banner_mainslider .slide-text {
    text-align: left;
    color: white;
    opacity: 1;
    z-index: 2;
    font-family: "IBM Plex Sans", sans-serif;
    width: 40%;
    max-width: 250px;
    padding: 30px;
    position: absolute;
    right: 5%;
  }
  
  .banner_mainslider .slide-text.playText {
    animation: transitionText 2s ease;
  }
  
  @keyframes transitionText {
    0% {
      right: -100%;
    }
    100% {
      right: 5%;
    }
  }